<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <FastQ>
    <fileextension>.compressed</fileextension>
  </FastQ>
  <FolderCompressor>
    <folderextension>.compressed.tar.gz</folderextension>
  </FolderCompressor>
  <SequenceMapper>
    <AsciiCodeseperator>182</AsciiCodeseperator>
  </SequenceMapper>
</settings>